* {
    box-sizing: border-box;
    margin: 20;
    padding: 0;
  }
body {

    font-family: Helvetica, Arial, sans-serif;
    color: black;
    background-color: lightgrey; 
  
}

/* apply styles to <header> */

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #2b2f35;
    margin: 0;
    display: inline;
    justify-content: space-between;   
  }
  header {
    padding: 20px 35px;
    background-color: #094364;
    flex-wrap: wrap;
  }

  header a {
      text-decoration: none;
    color: #0a0a0a;
    
  }

  header nav {
    display: flex-end;
    float: right;
    margin: 7px 0;
  }
  header nav ul li {
    display: inline;
  }
  header nav ul li a {
    margin: 0 90px;
    font-weight: normal;
    font-size: 30px;
        }

 header nav ul li a:hover {
   Background: white;
   color: black;
   border-radius: 40px;
 }
/* apply styles to <section> */

.section-title {
font-size: 30px;
border-left-style: 3px solid;
color: #2b2f35;
padding-bottom: 20px;
text-align: left;
margin: 0 auto3 35px auto;
width: 50%;
}
  
  .pics-main{
    width:200x;
    height: 200px;
  }
  
  @media screen and (max-width: 575px) {
header nav ul li a {
font-size: 20px;
text-align: center;
}

header {
  background-color: #094364;
  padding: 10px;
  margin: 15px;
}
  }
  